@import './variables.scss';

@media (max-width: 768px) {
  .navbar .nav-links {
    flex-direction: column;
    gap: 0.5rem;
  }

  .navbar .nav-container {
    flex-direction: column;
    gap: 1rem;
  }

  .grid {
    grid-template-columns: 1fr !important;
  }

  .page-container {
    padding: 1rem;
  }

  .page-title {
    font-size: 1.8rem;
  }

  .quote-text {
    font-size: $font-size-xl;
  }
}